@import "tailwindcss";

body {
  background: black;
  font-family: 'Cabin', sans-serif;
  overflow: auto;
}

body::-webkit-scrollbar {
}

@media (min-width: 1281px) {
  body {
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --color-primary: #8e7fff;
  --font-title: 'Bebas Neue', sans-serif;
}

@theme {
  --breakpoint-pc: 1281px;
  --spacing-pc: 1280px;

  --color-primary: var(--color-primary);
  --font-title: var(--font-title);
}
